################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Lab1test/bin/
/Lab1test/obj
/Lab1/bin/
/Lab1/obj
/Lab1/.vs/Lab1
